# OPEA
beautifulsoup4

# microservice
decord
docarray
einops
faiss-cpu
fastapi
ftfy
iopath
langchain
langchain-community
langchain-core
numpy
omegaconf
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus_fastapi_instrumentator
pytorchvideo
sentence-transformers
sentencepiece
shortuuid
timm
torch==2.5.1
torchaudio~=2.5.1
torchvision==0.20.1
transformers==4.49
uvicorn
validators
webdataset
werkzeug
