docarray
fastapi
shortuuid
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
beautifulsoup4
docarray[full]
easyocr
fastapi
huggingface_hub
langchain
langchain_community==0.2.5
langchain_openai
langchainhub
langsmith
neo4j
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
pymupdf
python-docx
redis
sentence-transformers
tiktoken
