neo4j
langchain
tiktoken
langchain_openai
langchainhub
langchain_community==0.2.5
sentence-transformers
docarray
docarray
fastapi
shortuuid
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
beautifulsoup4
docarray
docarray
docarray[full]
easyocr
fastapi
fastapi
huggingface_hub
langchain
langchain
langchain-community
langchain_community
langchain_openai
langchainhub
langsmith
neo4j
numpy
opentelemetry-api
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp
opentelemetry-sdk
opentelemetry-sdk
pandas
pandas
Pillow
pymupdf
python-docx
redis
sentence-transformers
sentence_transformers
shortuuid
shortuuid
tiktoken
