beautifulsoup4==4.12.3
docarray[full]==0.40.0
easyocr==1.7.2
fastapi==0.115.5
frontend==0.0.3
huggingface-hub==0.26.2
langchain==0.2.17
langchain-community==0.2.19
langchain-milvus==0.1.7
numpy==1.26.4
openai==1.54.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-sdk==1.27.0
pandas==2.2.3
pillow==11.0.0
prometheus-fastapi-instrumentator==7.0.0
pydantic==2.7.3
pymilvus==2.4.3
pymupdf==1.24.5
python-docx==0.8.11
sentence-transformers==3.3.1
shortuuid==1.0.13
tiktoken==0.8.0
uvicorn==0.32.0
