beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
elasticsearch
fastapi
html2text
huggingface_hub
langchain --extra-index-url https://download.pytorch.org/whl/cpu
langchain-community --extra-index-url https://download.pytorch.org/whl/cpu
langchain-text-splitters --extra-index-url https://download.pytorch.org/whl/cpu
langchain_huggingface --extra-index-url https://download.pytorch.org/whl/cpu
langchain_milvus --extra-index-url https://download.pytorch.org/whl/cpu
markdown
moviepy
numpy
openai
opensearch-py
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
pinecone
prometheus-fastapi-instrumentator
psycopg2
pymupdf
pyspark
pytesseract
python-bidi
python-docx
python-pptx
qdrant_client
redis
sentence_transformers
shortuuid
unstructured[all-docs]
uvicorn
vdms
webvtt-py
