accelerate
beautifulsoup4
cairosvg
decord
docarray[full]
docling
docx2txt
easyocr
einops
elasticsearch
fastapi
future
graspologic
html2text
huggingface_hub
ipython
json-repair
langchain
langchain-arangodb
langchain-community
langchain-elasticsearch
langchain-experimental
langchain-openai
langchain-pinecone
langchain-redis
langchain-text-splitters
langchain-vdms>=0.1.4
langchain_huggingface
langchain_milvus
llama-index
llama-index-core==0.12.19
llama-index-embeddings-text-embeddings-inference
llama-index-graph-stores-neo4j
llama-index-llms-openai
llama-index-llms-openai-like
markdown
moviepy
neo4j
numpy
openai
openai-whisper
opencv-python
opensearch-py
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-sdk==1.27.0
pandas
pgvector==0.2.5
Pillow
pinecone-client
prometheus-fastapi-instrumentator
protobuf==4.24.2
psycopg2
pymilvus==2.5.6
pymupdf
pyspark
pytesseract
python-bidi
python-docx
python-pptx
qdrant-client
redis
scipy
sentence_transformers
shortuuid
tiktoken
tqdm
typing
tzlocal
unstructured[all-docs]
uvicorn
webvtt-py
