accelerate
beautifulsoup4
cairosvg
decord
docarray[full]
docling
docx2txt
easyocr
einops
elasticsearch
fastapi
future
graspologic>=3.4.1
html2text
huggingface_hub
ipython
json-repair
langchain
langchain-arangodb==0.0.6
langchain-community
langchain-elasticsearch
langchain-experimental
langchain-mariadb
langchain-openai
langchain-pinecone
langchain-redis
langchain-text-splitters
langchain-vdms>=0.1.4
langchain_huggingface
langchain_milvus
llama-index
llama-index-core
llama-index-embeddings-text-embeddings-inference
llama-index-graph-stores-neo4j
llama-index-llms-openai
llama-index-llms-openai-like
mariadb
markdown
moviepy
neo4j
numpy
# https://github.com/run-llama/llama_index/issues/18823
openai==1.81.0
openai-whisper
opencv-python
opensearch-py
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-sdk==1.27.0
pandas
pgvector==0.2.5
Pillow==11.3.0
pinecone
prometheus-fastapi-instrumentator
protobuf==4.24.2
psycopg2
pymilvus==2.5.6
pymupdf
pyspark
pytesseract
python-bidi
python-docx
python-pptx
qdrant-client
redis==5.2.1
scipy
sentence_transformers
shortuuid
tiktoken
tqdm
typing
tzlocal
unstructured[all-docs]
uvicorn
webvtt-py
