beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
elasticsearch
fastapi
future
graspologic 
html2text
huggingface_hub
ipython
langchain --extra-index-url https://download.pytorch.org/whl/cpu
langchain-community --extra-index-url https://download.pytorch.org/whl/cpu
langchain-elasticsearch --extra-index-url https://download.pytorch.org/whl/cpu
langchain-experimental --extra-index-url https://download.pytorch.org/whl/cpu
langchain-openai --extra-index-url https://download.pytorch.org/whl/cpu
langchain-pinecone --extra-index-url https://download.pytorch.org/whl/cpu
langchain-text-splitters --extra-index-url https://download.pytorch.org/whl/cpu
langchain_huggingface --extra-index-url https://download.pytorch.org/whl/cpu
langchain_milvus --extra-index-url https://download.pytorch.org/whl/cpu
llama-index 
llama-index-core
llama-index-embeddings-text-embeddings-inference
llama-index-llms-openai
llama-index-llms-text-generation-inference
llama_index_graph_stores_neo4j==0.3.3
markdown
moviepy
neo4j
numpy
openai
openai-whisper
opencv-python
opensearch-py
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
pgvector==0.2.5
Pillow
pinecone-client
prometheus-fastapi-instrumentator
psycopg2
pymupdf
pyspark
pytesseract
python-bidi
python-docx
python-pptx
qdrant-client
redis
scipy
sentence_transformers
shortuuid
tiktoken
tqdm
typing
tzlocal
unstructured[all-docs]
uvicorn
vdms
webvtt-py
