docarray[full]==0.40.0
easyocr==1.7.2
fastapi==0.115.5
langchain-community==0.3.7
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp==1.28.2
opentelemetry-sdk==1.28.2
pgvector==0.2.5
prometheus-fastapi-instrumentator==7.0.0
psycopg2-binary==2.9.10
pymupdf==1.24.14
sentence-transformers==3.3.1
shortuuid==1.0.13
uvicorn==0.32.0
