aiohttp==3.10.5
docarray[full]==0.40.0
fastapi==0.114.1
httpx==0.27.2
huggingface-hub==0.24.7
langchain-community==0.2.16
langchain-huggingface==0.0.3
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-sdk==1.27.0
prometheus-fastapi-instrumentator==7.0.0
pyyaml==6.0.2
requests==2.32.3
shortuuid==1.0.13
uvicorn==0.30.6
