docarray[full]
fastapi
httpx==0.27.2
huggingface_hub==0.27.1
langchain
langchain-huggingface
langchain-openai
langchain_community
langchain-community==0.3.27
langchain-core==0.3.80
langchain-text-splitters==0.3.9
langchainhub
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pillow==11.3.0
prometheus-fastapi-instrumentator
starlette==0.49.1
shortuuid
transformers
uvicorn
urllib3==2.6.0
