docarray[full]==0.40.0
fastapi==0.115.7
huggingface-hub==0.27.1
langchain==0.3.15
langchain-community==0.3.15
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-sdk==1.29.0
shortuuid==1.0.13
uvicorn==0.34.0
