aiofiles
aiohttp
docarray
docx2txt
fastapi
httpx
kubernetes
langchain
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
Pillow
prometheus-fastapi-instrumentator
pyyaml
requests
shortuuid
uvicorn
