aiohttp==3.10.5
docarray==0.40.0
fastapi==0.115.0
httpx==0.27.2
kubernetes==30.1.0
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-sdk==1.27.0
pillow==10.4.0
prometheus-fastapi-instrumentator==7.0.0
pyyaml==6.0.2
requests==2.32.3
shortuuid==1.0.13
uvicorn==0.30.6
