accelerate
aiohttp
docarray[full]
fastapi
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
Pillow>=11.3.0
prometheus-fastapi-instrumentator
pydantic>=2.9.1
sentencepiece
shortuuid
soundfile
transformers
uvicorn
