aiohttp
docarray[full]
fastapi
httpx
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
pydantic==2.7.2
pydub
pyyaml
shortuuid
starlette
uvicorn
jinja2
h11
setuptools
python-dotenv