aiohttp
docarray[full]
fastapi
httpx
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
pydantic==2.7.2
pydub
pyyaml
shortuuid
uvicorn
jinja2
h11
pillow>=11.3.0
setuptools
starlette>=0.49.1
python-dotenv
urllib3>=2.6.0