aiohttp==3.11.11
basicsr==1.4.2
docarray[full]==0.40.0
facexlib==0.3.0
fastapi==0.115.7
ffmpeg-python==0.2.0
gradio==5.13.1
gradio-client==1.6.0
grpcio==1.70.0
huggingface-hub==0.27.1
librosa==0.10.2.post1
lmdb==1.6.2
numba==0.60.0
numpy==1.23.5
opencv-python==4.11.0.86
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-sdk==1.29.0
pandas==2.2.3
prometheus-fastapi-instrumentator==7.0.2
pyarrow==19.0.0
pydantic==2.10.6
pyyaml==6.0.2
scipy==1.15.1
shortuuid==1.0.13
tavily-python==0.5.0
tb-nightly==2.19.0a20250124
tqdm==4.67.1
yapf==0.43.0
