__pycache__/
.DS_Store
output/
tensorboard/
sample-frames/
data/
.vscode/
.ipynb_checkpoints/
.venv/
logs/
scripts/run
scripts/finetune-fc.sh
pre-trained/
ttt.py
tt.py
abs-study
left.py
right.py
ttt.sh
cfgs/tasks
train-s.py
