accelerate
aiohttp
datasets
docarray[full]
fastapi
faster-whisper
mcp
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
pydantic==2.7.2
pydub
python-multipart
shortuuid
soundfile
stanza
transformers
trl==0.11.0 
uvicorn[standard]
zhconv