docarray[full]
fastapi
hanging_threads
langchain
langchain-community
langchain-neo4j
neo4j 
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
prometheus_fastapi_instrumentator
psycopg2-binary 
pyarrow
pydantic
shortuuid
sqlalchemy
uvicorn
