aiohttp
docarray[full]
fastapi
httpx
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
sentence_transformers
shortuuid
uvicorn
haystack-ai
langchain
langchain_community
openai
datasets
Pillow
pydub
