docarray[full]
easyocr
fastapi
fitz
huggingface_hub
langchain
numpy
Pillow
sentence_transformers
shortuuid
pymupdf
beautifulsoup4
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
redis
