beautifulsoup4==4.12.3
cairosvg==2.7.1
docarray[full]==0.40.0
docx2txt==0.8
easyocr==1.7.2
fastapi==0.115.5
future==1.0.0
graspologic==3.4.1
html2text==2024.2.26
huggingface-hub==0.26.2
ipython==8.29.0
langchain==0.3.7
langchain-community==0.3.7
langchain-text-splitters==0.3.2
llama-index==0.11.23
llama-index-core==0.11.23
llama-index-embeddings-text-embeddings-inference==0.2.0
llama-index-graph-stores-neo4j==0.3.3
llama-index-llms-openai==0.2.16
llama-index-llms-text-generation-inference==0.2.2
markdown==3.7
neo4j==5.26.0
numpy==1.26.4
openai==1.54.5
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp==1.28.2
opentelemetry-sdk==1.28.2
pandas==2.2.3
pillow==11.0.0
prometheus-fastapi-instrumentator==7.0.0
pymupdf==1.24.14
pytesseract==0.3.13
python-docx==1.1.2
python-pptx==1.0.2
scipy==1.12.0
sentence-transformers==3.3.1
shortuuid==1.0.13
unstructured[all-docs]==0.15.7
uvicorn==0.32.0
