llama-index 
graspologic 
scipy
llama_index_graph_stores_neo4j
llama-index-core
llama-index-llms-openai
llama-index-llms-text-generation-inference
llama-index-embeddings-text-embeddings-inference
langchain
langchain_community
langchain-text-splitters
future
ipython
beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
huggingface_hub
markdown
neo4j
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pymupdf
pytesseract
python-docx
python-pptx
sentence_transformers
shortuuid
unstructured[all-docs]==0.15.7
uvicorn
