aiohttp
docarray[full]
fastapi
fasttext-langdetect
h11
httpx
jinja2
langsmith
numpy==1.26.4
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
pydantic==2.7.2
pydub
pyyaml
shortuuid
starlette
uvicorn
