beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
huggingface_hub
lancedb
langchain
langchain-community
langchain-text-splitters
markdown
msgpack
minio
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pymupdf
pyspark
pytesseract
python-docx
python-pptx
sentence_transformers
s3fs
shortuuid
tiktoken
unstructured[all-docs]==0.15.7
uvicorn
