docarray[full]
fastapi
hanging_threads
langchain>=0.2.9
langchain-core>=0.3.80
langchain-huggingface
langchain_community>=0.3.27
langchain-text-splitters>=0.3.9
mcp>=1.23.0
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
pillow>=11.3.0
prometheus_fastapi_instrumentator
psycopg2-binary 
pyarrow
pydantic
shortuuid
sqlalchemy
starlette>=0.49.1
urllib3>=2.6.0
uvicorn
