aiofiles
aiohttp
docarray[full]
docx2txt
fastapi
httpx
kubernetes
langchain
langchain-core>=0.3.81
langchain-community>=0.3.27
langchain-text-splitters>=0.3.9
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pillow>=11.3.0
prometheus-fastapi-instrumentator
pydantic
pypdf
python-dotenv
python-multipart
pyyaml
requests
semantic-router
shortuuid
starlette>=0.49.1
urllib3>=2.6.0
uvicorn[standard]
