beautifulsoup4
cairosvg
docarray[full]
docx2txt
easyocr
fastapi
huggingface_hub
langchain
langchain-community
langchain-text-splitters
langsmith
markdown
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus-fastapi-instrumentator
pymupdf
pyspark
python-docx
python-pptx
langchain_milvus
sentence_transformers
shortuuid
tiktoken
unstructured[all-docs]==0.11.5
openai
tiktoken
