docarray[full]
fastapi
huggingface_hub
llama-index-embeddings-text-embeddings-inference
llama-index-embeddings-huggingface==0.2.0
langsmith
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
shortuuid
