# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

include:
  - ../../../third_parties/tgi/deployment/docker_compose/compose.yaml
  - ../../../third_parties/neo4j/deployment/docker_compose/compose.yaml

services:
  text2kg:
     image: ${REGISTRY:-opea}/text2kg:${TAG:-latest}
     container_name: text2kg
     ports:
         - ${TEXT2KG_PORT:-8090}:8090
     environment:
         - no_proxy=${no_proxy}
         - https_proxy=${https_proxy}
         - http_proxy=${http_proxy}
         - ENABLE_MCP=${ENABLE_MCP:-false}
         - LLM_MODEL_ID=${LLM_MODEL_ID:-"HuggingFaceH4/zephyr-7b-alpha"}
         - HF_TOKEN=${HF_TOKEN}
         - TGI_LLM_ENDPOINT=http://localhost:${LLM_ENDPOINT_PORT:-8008}
         - NEO4J_HEALTH_URL=http://localhost:${NEO4J_PORT1:-7474}
         - NEO4J_URI=${NEO4J_URI:-neo4j://localhost:7687}
         - NEO4J_URL=${NEO4J_URL:-neo4j://localhost:7687}
         - NEO4J_USERNAME=${NEO4J_USERNAME:-neo4j}
         - NEO4J_PASSWORD=${NEO4J_PASSWORD:-neo4j_password}
         - NEO4J_DATABASE=${NEO4J_DATABASE:-neo4j}
         - DATA_DIRECTORY=/home/user/comps/text2kg/src/data
         - TEXT2KG_PORT=8090
     depends_on:
         - tgi-server
         - neo4j-apoc
     ipc: host
     network_mode: "host"
     restart: always

networks:
  default:
    driver: bridge
