docarray[full]==0.40.0
fastapi==0.115.5
langchain==0.3.7
langchain-community==0.3.7
moviepy==1.0.3
openai-whisper==20240930
opencv-python==4.10.0.84
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp==1.28.2
opentelemetry-sdk==1.28.2
pillow==11.0.0
prometheus-fastapi-instrumentator==7.0.0
pydantic==2.9.2
python-multipart==0.0.17
redis==5.2.0
shortuuid==1.0.13
transformers==4.46.3
uvicorn==0.32.0
webvtt-py==0.5.1
