aiohttp
docarray
fastapi
huggingface_hub
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
Pillow==11.3.0
predictionguard==2.2.1
prometheus-fastapi-instrumentator
PyYAML
shortuuid
uvicorn
