aiohttp
docarray
einops
fastapi
huggingface_hub
open-clip-torch
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
Pillow
predictionguard==2.2.1
prometheus-fastapi-instrumentator
PyYAML
shortuuid
transformers
uvicorn
