# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

services:
  whisper-service:
    image: ${REGISTRY:-opea}/whisper:${TAG:-latest}
    container_name: whisper-service
    ports:
      - ${WHISPER_PORT:-7066}:7066
    ipc: host
    environment:
      no_proxy: ${no_proxy}
      http_proxy: ${http_proxy}
      https_proxy: ${https_proxy}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7066/health"]
      interval: 10s
      timeout: 6s
      retries: 18
  whisper-gaudi-service:
    image: ${REGISTRY:-opea}/whisper-gaudi:${TAG:-latest}
    container_name: whisper-gaudi-service
    ports:
      - ${WHISPER_PORT:-7066}:7066
    ipc: host
    environment:
      no_proxy: ${no_proxy}
      http_proxy: ${http_proxy}
      https_proxy: ${https_proxy}
      HABANA_VISIBLE_DEVICES: all
      OMPI_MCA_btl_vader_single_copy_mechanism: none
    runtime: habana
    cap_add:
      - SYS_NICE
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7066/health"]
      interval: 10s
      timeout: 6s
      retries: 18
  asr:
    image: ${REGISTRY:-opea}/asr:${TAG:-latest}
    container_name: asr-service
    ports:
      - ${ASR_PORT:-9099}:9099
    ipc: host
    environment:
      ASR_ENDPOINT: ${ASR_ENDPOINT}
      ASR_COMPONENT_NAME: ${ASR_COMPONENT_NAME:-OPEA_WHISPER_ASR}
  asr-whisper:
    extends: asr
    container_name: asr-whisper-service
    environment:
      ASR_COMPONENT_NAME: ${ASR_COMPONENT_NAME:-OPEA_WHISPER_ASR}
    depends_on:
      whisper-service:
        condition: service_healthy
  asr-whisper-gaudi:
    extends: asr
    container_name: asr-whisper-gaudi-service
    environment:
      ASR_COMPONENT_NAME: ${ASR_COMPONENT_NAME:-OPEA_WHISPER_ASR}
    depends_on:
      whisper-gaudi-service:
        condition: service_healthy

networks:
  default:
    driver: bridge
