aiohttp==3.11.4
docarray==0.40.0
fastapi==0.115.5
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp==1.28.2
opentelemetry-sdk==1.28.2
pillow==11.0.0
predictionguard==2.2.1
prometheus-fastapi-instrumentator==7.0.0
pyyaml==6.0.2
shortuuid==1.0.13
uvicorn==0.32.0
