docarray[full]
fastapi
huggingface_hub
langsmith
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
redis
sentence_transformers
llama-index 
llama-index-vector-stores-redis
llama-index-readers-file
llama-index-embeddings-huggingface==0.2.0
shortuuid
