docarray[full]==0.40.0
fastapi==0.115.7
huggingface-hub==0.27.1
langchain==0.3.15
langchain-community==0.3.15
langchain-google-community==2.0.4
langchain-huggingface==0.1.2
langchain-openai==0.3.2
langchainhub==0.1.21
langgraph==0.2.67
langsmith==0.3.1
numpy==1.26.4
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-sdk==1.29.0
pandas==2.2.3
prometheus-fastapi-instrumentator==7.0.2
pyarrow==19.0.0
pydantic==2.10.6
redis==5.2.1
shortuuid==1.0.13
tavily-python==0.5.0
transformers[sentencepiece]==4.48.1
uvicorn==0.34.0
