# used by microservice
docarray[full]
fastapi

# get data source
finnhub-python==2.4.22
huggingface_hub
langchain

#used by tools
langchain-google-community
langchain-huggingface
langchain-mcp-adapters
langchain-openai
langchain-redis
langchain_community
langchainhub
langchain-core==0.3.80
langgraph
langgraph-checkpoint==3.0.0
langsmith
mcp>=1.23.0
mysql-connector-python
numpy
starlette>=0.49.1
# used by cloud native
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
pillow>=11.3.0
prometheus_fastapi_instrumentator
pyarrow
pydantic #==1.10.13
rank_bm25

# used by document loader
# beautifulsoup4
# easyocr
# Pillow
# pymupdf
# python-docx

# used by embedding
# sentence_transformers

# used by Ray
# ray
# virtualenv

redis
shortuuid
tavily-python

# used by agents
transformers
transformers[sentencepiece]

uvicorn
urllib3>=2.6.0