# OPEA
beautifulsoup4
docarray
fastapi
uvicorn
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
Pillow
prometheus_fastapi_instrumentator
shortuuid

# microservice
decord
einops
faiss-cpu
ftfy
iopath
langchain==0.2.9
langchain-core==0.2.21
langchain-community==0.2.1
omegaconf
opencv-python-headless
sentence-transformers==3.0.1
sentencepiece
pytorchvideo
timm
torch==1.13.1 --index-url https://download.pytorch.org/whl/cpu
torchaudio==0.13.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.14.1 --index-url https://download.pytorch.org/whl/cpu
transformers
webdataset
