beautifulsoup4==4.12.3
cairosvg==2.7.1
docarray[full]==0.40.0
docx2txt==0.8
easyocr==1.7.1
fastapi==0.115.0
huggingface-hub==0.25.0
langchain==0.3.0
langchain-community==0.3.0
langchain-experimental==0.3.0
langchain-huggingface==0.1.0
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
markdown==3.7
neo4j==5.24.0
numpy==1.26.4
openai==1.46.0
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-sdk==1.27.0
pandas==2.2.2
pillow==10.4.0
prometheus-fastapi-instrumentator==7.0.0
pymupdf==1.24.10
python-docx==1.1.2
python-pptx==1.0.2
sentence-transformers==3.1.0
shortuuid==1.0.13
unstructured[all-docs]==0.15.7
uvicorn==0.30.6
