# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
docarray[full]
fastapi
pyprojroot
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
prometheus_fastapi_instrumentator
pydantic
shortuuid
uvicorn
llama_index 
langchain_neo4j 
langchain_huggingface 
llama_index-embeddings-huggingface 
llama_index-llms-huggingface
llama-index-graph-stores-neo4j
transformers
