bs4==0.0.2
cairosvg==2.7.1
docarray[full]==0.40.0
docx2txt==0.8
fastapi==0.115.5
frontend==0.0.3
future==1.0.0
graspologic==3.4.1
huggingface-hub==0.26.2
langchain==0.3.7
langchain-community==0.3.7
llama-index-core==0.11.23
llama-index-embeddings-openai==0.2.5
llama-index-embeddings-text-embeddings-inference==0.2.0
llama-index-graph-stores-neo4j==0.3.3
llama-index-llms-openai==0.2.16
llama-index-llms-text-generation-inference==0.2.2
neo4j==5.26.0
numpy==1.26.4
opencv-python==4.10.0.84
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp==1.28.2
opentelemetry-sdk==1.28.2
pandas==2.2.3
pillow==11.0.0
prometheus-fastapi-instrumentator==7.0.0
pydantic==2.9.2
pymupdf==1.24.14
pytesseract==0.3.13
python-docx==1.1.2
python-multipart==0.0.17
python-pptx==1.0.2
sentence-transformers==3.3.1
shortuuid==1.0.13
tiktoken==0.8.0
uvicorn==0.32.0
