docarray[full]==0.40.0
easyocr==1.7.1
einops==0.8.0
fastapi==0.114.1
langchain-community==0.2.16
langchain-core==0.2.39
langchain-huggingface==0.0.3
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-sdk==1.27.0
prometheus-fastapi-instrumentator==7.0.0
pymupdf==1.24.10
sentence-transformers==3.0.1
shortuuid==1.0.13
uvicorn==0.30.6
vdms==0.0.21
