docarray[full]==0.40.0
easyocr==1.7.2
einops==0.8.0
fastapi==0.115.5
langchain-community==0.3.7
langchain-core==0.3.19
langchain-huggingface==0.1.2
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp==1.23.0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
prometheus-fastapi-instrumentator==7.0.0
protobuf==4.24.2
pymupdf==1.24.14
sentence-transformers==3.3.1
shortuuid==1.0.13
uvicorn==0.32.1
vdms==0.0.21
