aiohttp
datasets
docarray[full]
fastapi
funasr==1.2.7
llvmlite==0.44.0
mcp
numba==0.61.2
numpy==1.26.4
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
pydantic==2.7.2
pydub
python-multipart
shortuuid
uvicorn