accelerate
docarray[full]
fastapi
huggingface_hub
json_repair
langchain
langchain-core>=0.3.80
langchain-community>=0.3.27
langchain-huggingface
langchain-text-splitters>=0.3.9
langchain_experimental
llama-index>=0.13.0
llama-index-core>=0.13.0
llama-index-embeddings-huggingface
llama-index-embeddings-langchain
llama-index-graph-stores-neo4j
llama-index-llms-huggingface
llama-index-llms-huggingface-api
neo4j
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
peft==0.15.2
pillow>=11.3.0
prometheus-fastapi-instrumentator
pydub
pyprojroot
sentence-transformers
shortuuid
starlette>=0.49.1
transformers==4.52.4
unstructured
urllib3>=2.6.0
uvicorn
