docarray[full]
bitsandbytes==0.43.0
docx2txt==0.8
fastapi==0.110.0
grpcio-tools==1.62.1
huggingface_hub==0.23.2
InstructorEmbedding==1.0.1
json_repair==0.30.0
langchain==0.3.1
langchain-community==0.3.1
langchain-huggingface==0.1.0
langchain_experimental==0.3.2
llama-index==0.11.20
llama-index-embeddings-huggingface==0.3.1
llama-index-embeddings-langchain==0.2.1 
llama-index-graph-stores-neo4j==0.3.5
llama-index-llms-huggingface==0.3.5
llama-index-llms-huggingface-api==0.2.0
neo4j==5.23.0
optimum-habana==1.13.2
pdfminer.six==20221105
pdfplumber==0.11.0
peft==0.14.0
protobuf==3.20.2
pydantic==2.6.4
pypdf==4.3.1
pyprojroot==0.3.0
python-jose[cryptography]
python-multipart==0.0.9
requests==2.31.0
scikit-learn==1.5.2
sentence-transformers==3.0.1
transformers==4.43.1
unstructured==0.12.6
urllib3==1.26.18
uvicorn==0.29.0

