aiofiles
bs4
cairosvg
decord
docarray[full]
docx2txt
easyocr
einops
fastapi
future
graspologic
haystack-ai==2.3.1
langchain-arangodb
langchain-elasticsearch
langchain-openai
langchain-pinecone
langchain-vdms>=0.1.4
langchain_community
langchain_huggingface
langchain_milvus
llama-index-core==0.12.19
llama-index-embeddings-openai
llama-index-embeddings-text-embeddings-inference
llama-index-llms-openai
llama-index-llms-openai-like
llama-index-llms-text-generation-inference
llama_index_graph_stores_neo4j
neo4j
numpy
opensearch-py
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-sdk==1.27.0
pathway
pgvector
prometheus-fastapi-instrumentator
protobuf==4.24.2
psycopg2-binary
pydantic
pymilvus==2.5.6
pymupdf
pytesseract
python-docx
python-multipart
python-pptx
qdrant-haystack
redis
sentence_transformers
shortuuid
tiktoken
uvicorn
