bs4==0.0.2
cairosvg==2.7.1
docarray[full]==0.40.0
docx2txt==0.8
easyocr==1.7.2
fastapi==0.115.7
future==1.0.0
graspologic==3.4.1
haystack-ai==2.3.1
langchain-community==0.3.15
langchain-elasticsearch==0.3.2
langchain-huggingface==0.1.2
langchain-milvus==0.1.8
langchain-pinecone==0.2.2
llama-index-core==0.12.13
llama-index-embeddings-openai==0.3.1
llama-index-embeddings-text-embeddings-inference==0.3.1
llama-index-graph-stores-neo4j==0.4.6
llama-index-llms-openai==0.3.14
llama-index-llms-openai-like==0.3.3
llama-index-llms-text-generation-inference==0.3.1
neo4j==5.27.0
numpy==1.26.4
opensearch-py==2.8.0
pathway==0.3.3
pgvector==0.3.6
prometheus-fastapi-instrumentator==7.0.2
protobuf==4.24.2
psycopg2-binary==2.9.10
pydantic==2.10.6
pymupdf==1.25.2
pytesseract==0.3.13
python-docx==1.1.2
python-multipart==0.0.20
python-pptx==1.0.2
qdrant-haystack==7.0.0
redis==5.2.1
sentence-transformers==3.4.0
shortuuid==1.0.13
tiktoken==0.8.0
uvicorn==0.34.0
vdms==0.0.21
