beautifulsoup4==4.12.3
docarray[full]==0.40.0
easyocr==1.7.2
fastapi==0.115.5
huggingface-hub==0.26.2
langchain==0.3.7
langchain-community==0.3.7
langchain-huggingface==0.1.2
langchain-pinecone==0.2.0
numpy==1.26.4
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp==1.28.2
opentelemetry-sdk==1.28.2
pandas==2.2.3
pillow==11.0.0
pinecone-client==5.0.1
prometheus-fastapi-instrumentator==7.0.0
pymupdf==1.24.14
python-docx==1.1.2
sentence-transformers==3.3.1
shortuuid==1.0.13
uvicorn==0.32.0
