aiohttp
docarray[full]
fastapi
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
optimum[habana]
prometheus-fastapi-instrumentator
sentencepiece
shortuuid
soundfile
torch
-f https://download.pytorch.org/whl/cpu/torch_stable.html
transformers
uvicorn
