docarray[full]
easyocr
fastapi
langchain-pinecone
langchain_community
langsmith
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pinecone-client
pymupdf
redis
sentence_transformers
shortuuid
