accelerate==1.3.0
datasets==3.2.0
diffusers==0.32.2
docarray[full]==0.40.0
fastapi==0.115.7
opencv-python==4.11.0.86
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-sdk==1.29.0
prometheus-fastapi-instrumentator==7.0.2
pydantic==2.7.2
pydub==0.25.1
shortuuid==1.0.13
torch==2.5.1
transformers==4.48.1
uvicorn==0.34.0
