beautifulsoup4==4.12.3
cairosvg==2.7.1
docarray[full]==0.40.0
docx2txt==0.8
easyocr==1.7.2
fastapi==0.115.5
html2text==2024.2.26
huggingface-hub==0.26.2
langchain==0.3.7
langchain-community==0.3.7
langchain-openai==0.2.9
langchain-pinecone==0.2.0
langchain-text-splitters==0.3.2
markdown==3.7
numpy==1.26.4
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp==1.28.2
opentelemetry-sdk==1.28.2
pandas==2.2.3
pillow==11.0.0
pinecone-client==5.0.1
prometheus-fastapi-instrumentator==7.0.0
pymupdf==1.24.14
pyspark==3.5.3
pytesseract==0.3.13
python-bidi==0.4.2
python-docx==1.1.2
python-pptx==1.0.2
sentence-transformers==3.3.1
shortuuid==1.0.13
unstructured[all-docs]==0.15.7
uvicorn==0.32.0
