beautifulsoup4==4.12.3
cairosvg==2.7.1
decord==0.6.0
docarray[full]==0.40.0
docx2txt==0.8
easyocr==1.7.2
einops==0.8.0
fastapi==0.115.5
html2text==2024.2.26
huggingface-hub==0.26.2
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.19
langchain-text-splitters==0.3.2
langsmith==0.1.144
markdown==3.7
numpy==1.26.4
opencv-python==4.10.0.84
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp==1.23.0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
pandas==2.2.3
pillow==11.0.0
prometheus-fastapi-instrumentator==7.0.0
protobuf==4.24.2
pymupdf==1.24.14
pyspark==3.5.3
pytesseract==0.3.13
python-bidi==0.4.2
python-docx==1.1.2
python-pptx==0.6.23
pyyaml==6.0.2
sentence-transformers==3.3.1
shortuuid==1.0.13
tqdm==4.67.0
typing==3.7.4.3
tzlocal==5.2
unstructured[all-docs]==0.11.5
uvicorn==0.32.1
vdms==0.0.21
