pathway
docarray[full]
langchain_community == 0.2.0
langsmith
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
sentence_transformers
shortuuid
fastapi
frontend==0.0.3
huggingface_hub
prometheus-fastapi-instrumentator
