beautifulsoup4==4.12.3
decord==0.6.0
docarray==0.40.0
einops==0.8.0
faiss-cpu==1.9.0
fastapi==0.115.5
ftfy==6.3.1
iopath==0.1.10
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.19
numpy==1.26.4
omegaconf==2.3.0
opencv-python-headless==4.10.0.84
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp==1.28.2
opentelemetry-sdk==1.28.2
pandas==2.2.3
pillow==11.0.0
prometheus-fastapi-instrumentator==7.0.0
pytorchvideo==0.1.5
sentence-transformers==3.3.1
sentencepiece==0.2.0
shortuuid==1.0.13
timm==1.0.11
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
transformers==4.46.3
uvicorn==0.32.0
validators==0.34.0
webdataset==0.2.100
werkzeug==3.1.3
