# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Image Build
# permissions: read-all
on:
  workflow_call:
    inputs:
      registry:
        description: Container Registry URL
        required: false
        default: ""
        type: string
      tag:
        description: Container Tag
        required: false
        default: "latest"
        type: string
      service:
        description: Example to test
        required: true
        type: string
      use_model_cache:
        default: false
        required: false
        type: boolean

jobs:
  get-test-case:
    runs-on: ubuntu-latest
    outputs:
      run_matrix: ${{ steps.test-case-matrix.outputs.run_matrix }}
      CHECKOUT_REF: ${{ steps.get-checkout-ref.outputs.CHECKOUT_REF }}
    steps:
      - name: Get checkout ref
        id: get-checkout-ref
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ] || [ "${{ github.event_name }}" == "pull_request_target" ]; then
            CHECKOUT_REF=refs/pull/${{ github.event.number }}/merge
          else
            CHECKOUT_REF=${{ github.ref }}
          fi
          echo "CHECKOUT_REF=${CHECKOUT_REF}" >> $GITHUB_OUTPUT
          echo "checkout ref ${CHECKOUT_REF}"

      - name: Checkout out Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.get-checkout-ref.outputs.CHECKOUT_REF }}
          fetch-depth: 0

      - name: Get test matrix
        shell: bash
        id: test-case-matrix
        run: |
          set -x
          run_matrix=$(jq -n '{include: []}')
          service_l=$(echo ${{ inputs.service }} | tr '[:upper:]' '[:lower:]')
          cd ${{ github.workspace }}/tests
          test_cases=$(find . -type f -name "test_${service_l}*.sh")
          for script in $test_cases; do
            if echo "$script" | grep -q "_on"; then
              hardware=$(echo $script | cut -d'/' -f3 | cut -d'.' -f1 | awk -F'_on_' '{print $2}')
            else
              hardware="intel_cpu"
            fi
            hardware=$(echo $hardware | tr '_' '-')
            run_matrix=$(echo $run_matrix | jq --arg script "$script" --arg hardware "$hardware" '.include += [{"test_case": $script, "hardware": $hardware}]')
          done
          run_matrix=$(echo $run_matrix | jq -c .)
          echo "run_matrix=${run_matrix}" >> $GITHUB_OUTPUT

  run-test:
    needs: [get-test-case]
    strategy:
      matrix:
        include: ${{ fromJSON(needs.get-test-case.outputs.run_matrix).include }}
    runs-on: ${{ matrix.hardware }}
    permissions:
      id-token: write
      contents: read
    continue-on-error: true
    steps:
      - name: Clean up Working Directory
        run: |
          sudo rm -rf ${{github.workspace}}/*

          echo "Cleaning up test-comps-xxx containers ..."
          cid=$(docker ps -aq --filter "name=test-comps-*")
          if [[ ! -z "$cid" ]]; then docker stop $cid && docker rm $cid && sleep 1s; fi
          echo "Cleaning up containers using ports..."
          cid=$(docker ps --format '{{.Names}} : {{.Ports}}' | grep -v ' : $' | grep -v 0.0.0.0:5000 | awk -F' : ' '{print $1}')
          if [[ ! -z "$cid" ]]; then docker stop $cid && docker rm $cid && sleep 1s; fi

          # clean up images
          docker images --filter reference="*/*:comps" -q | xargs -r docker rmi && sleep 1s
          docker images --filter reference="opea/*:*" -q | xargs -r docker rmi && sleep 1s

          docker system prune -f
          docker ps

      - name: Checkout out Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.get-test-case.outputs.CHECKOUT_REF }}
          fetch-depth: 0

      - name: Get AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        if: ${{ contains(matrix.test_case, 'bedrock') }}
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE_ARN }}
          aws-region: us-east-1

      - name: Run test
        shell: bash
        env:
          HUGGINGFACEHUB_API_TOKEN: ${{ secrets.HUGGINGFACEHUB_API_TOKEN }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          GOOGLE_CSE_ID: ${{ secrets.GOOGLE_CSE_ID }}
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
          PINECONE_KEY: ${{ secrets.PINECONE_KEY }}
          PREDICTIONGUARD_API_KEY: ${{ secrets.PREDICTIONGUARD_API_KEY }}
          service: ${{ inputs.service }}
          test_case: ${{ matrix.test_case }}
          hardware: ${{ matrix.hardware }}
          use_model_cache: ${{ inputs.use_model_cache }}
        run: |
          export PATH=${HOME}/miniforge3/bin/:$PATH
          cd ${{ github.workspace }}/tests
          service=$(echo "${test_case}" | cut -d'/' -f3 | cut -d'_' -f2- |cut -d'.' -f1)
          echo "service=${service}" >> $GITHUB_ENV
          if [[ "$use_model_cache" == "true" ]]; then
            if [ -d "/data2/hf_model" ]; then
              export model_cache="/data2/hf_model"
            else
              echo "Model cache directory /data2/huggingface does not exist"
              export model_cache="~/.cache/huggingface/hub"
            fi
          fi
          if [ -f ${test_case} ]; then timeout 60m bash ${test_case}; else echo "Test script {${test_case}} not found, skip test!"; fi

      - name: Clean up container
        run: |
          echo "Cleaning up test-comps-xxx containers ..."
          cid=$(docker ps -aq --filter "name=test-comps-*")
          if [[ ! -z "$cid" ]]; then docker stop $cid && docker rm $cid && sleep 1s; fi
          echo "Cleaning up containers using ports..."
          cid=$(docker ps --format '{{.Names}} : {{.Ports}}' | grep -v ' : $' | grep -v 0.0.0.0:5000 | awk -F' : ' '{print $1}')
          if [[ ! -z "$cid" ]]; then docker stop $cid && docker rm $cid && sleep 1s; fi
          docker ps

          echo "Cleaning up images ..."
          if [[ "${{ matrix.hardware }}" == "intel-cpu" ]]; then
              docker system prune -a -f
          else
              docker images --filter reference="*/*:comps" -q | xargs -r docker rmi && sleep 1s
              docker images --filter reference="opea/*:*" -q | xargs -r docker rmi && sleep 1s
              docker system prune -f
          fi
          docker images

      - name: Publish pipeline artifact
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.service }}
          path: ${{ github.workspace }}/tests/*.log
