# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
name: Build latest images on push event

on:
  push:
    branches: ["main", "opt-image-build"]
    paths:
      - 'comps/**'
      - 'src/**'
      - '**/*.yaml'
      - '!**/*.md'
      - '!**/*.txt'
      - '**/requirements.txt'
      - '.github/workflows/push-image-build.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-on-push
  cancel-in-progress: true

jobs:
  get-build-matrix:
    runs-on: ubuntu-latest
    outputs:
      services: ${{ steps.get-services.outputs.services }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get Test Services
        id: get-services
        run: |
          set -x
          # base_commit=$(git rev-parse HEAD~1)
          base_commit=5f34f5dc7a15b115751fd5a04bf7770a34fe9912
          merged_commit=$(git log -1 --format='%H')
          changed_src="$(git diff --name-only ${base_commit} ${merged_commit} | grep 'src/' | grep -vE '\.md|\.txt')" || true
          changed_yamls="$(git diff --name-only ${base_commit} ${merged_commit} | grep '\.yaml$' | grep -vE 'deployment|\.md|\.txt')" || true

          services=$(printf '%s\n' "${changed_src[@]}" | cut -d'/' -f2 | grep -vE '\.py' | sort -u | jq -R '.' ) || true
          while IFS= read -r line; do
            if [[ "$line" == *"workflows/docker/compose"* ]]; then
              filename=$(basename "$line" -compose.yaml)
              echo "$line $(printf '%s\n' "$filename" | jq -R '.' )"
              services+=" "$(printf '%s\n' "$filename" | jq -R '.' )|| true
            else
              echo "$line $(printf '%s\n' "$line" | cut -d'/' -f2 | jq -R '.' )"
              services+=" "$(printf '%s\n' "$line" | cut -d'/' -f2 | jq -R '.' ) || true
            fi
          done <<< "$changed_yamls"

          echo "services=$(echo "$services" | jq -sc '.')"
          echo "services=$services" >> $GITHUB_OUTPUT

  image-build:
    needs: get-build-matrix
    strategy:
      matrix:
        service: ${{ fromJSON(needs.get-build-matrix.outputs.services) }}
        node: [docker-build-xeon, docker-build-gaudi]
    runs-on: ${{ matrix.node }}
    continue-on-error: true
    steps:
      - name: Clean up Working Directory
        run: |
          sudo rm -rf ${{github.workspace}}/*

      - name: Checkout out Repo
        uses: actions/checkout@v4

      - name: Check Docker Compose File Exists
        env:
          service: ${{ matrix.service }}
        run: |
          docker_compose_path="${{ github.workspace }}/.github/workflows/docker/compose/${service}-compose.yaml"
          if [ -e $docker_compose_path ]; then
            echo "file_exists=true" >> $GITHUB_ENV
            echo "docker_compose_path=${docker_compose_path}" >> $GITHUB_ENV
          else
            echo "file_exists=false" >> $GITHUB_ENV
            echo "docker_compose_path=${docker_compose_path} for this service does not exist, so skipping image build for this service!!!"
          fi

      - name: Build Image
        if: env.file_exists == 'true'
        uses: opea-project/validation/actions/image-build@main
        with:
          work_dir: ${{ github.workspace }}
          docker_compose_path: ${{ env.docker_compose_path }}
          registry: ${OPEA_IMAGE_REPO}opea
